.main-container {
    padding-top: 66px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.main-information {
    padding-top: 54px;
}

.main-information__title {
    width: 450px;
    font-family: 'Ruda';
    font-weight: 600;
    font-size: 35px;
    line-height: 82px;
    color: #FFFFFF;
}


.main-information__title p {
    font-family: 'Ruda';
    font-weight: 600;
    font-size: 64px;
    line-height: 82px;
    color: #FFFFFF;
}

.gradient {
    background: linear-gradient(45deg, #AF25D3 33%, #9725D6 66%, #5E23D9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-information__text {
    width: 442px;
    padding-top: 12px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
}

.main-information--media {
    position: relative;
    width: 313px;
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-information__btn button {
    width: 123px;
    height: 54px;
}

.main-information__video {
    cursor: pointer;
}

.main-information__video:hover {
    text-decoration: underline;
    color: rgb(208, 208, 208);
}

.main-information__video::before {
    position: absolute;
    content: '';
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 1px solid white;
    top: 40%;
    left: 145px;
    background: url(/img/Vector.svg) no-repeat center;
    cursor: pointer;
}

.main-information__video::before:hover {
    position: absolute;
    content: '';
    border: 1px solid white;
}

.main-information__static {
    position: relative;
    margin-top: 76px;
    width: 499px;
    height: 120px;
    background: rgba(255, 255, 255, 0.13);
    backdrop-filter: blur(2px);
}

.static_container {
    margin: 0 auto;
    width: 405px;
    justify-content: space-between;
    display: flex;
    padding: 24px 24px;
}

.main-information--info {
    display: flex;
    flex-direction: column;
    width: 87px;
    align-items: center;
}

.main-information--info__title {
    font-family: 'Ruda';
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
}

.main-information--info__text {
    font-size: 14px;
    line-height: 22px;
    color: #D7D7D7;
}

.main-information__btn button {
    width: 123px;
    height: 54px;
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    background: linear-gradient(101.9deg, rgba(201, 34, 227, 0.4) 7.67%, rgba(153, 30, 234, 0.4) 52.66%, rgba(73, 23, 246, 0.4) 93.7%);
    border-radius: 4px;
}

.main-img {
    left: 52.7%;
    position: absolute;
    width: 726px;
    height: 713px;
    background: url(/img/2.png) no-repeat center;
}

.catalog {
    padding-top: 214px;
}

.catalog-container {
    display: flex;
}

.catalog-info {
    position: relative;
}

.catalog-info__text {
    width: 545px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.catalog-info__text h4 {
    width: 200px;
    font-family: 'Ruda';
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
}

.catalog-info__text p {
    width: 200px;
    font-size: 14px;
    line-height: 150%;
    color: #D7D7D7;
}

.catalog-info__img {
    width: 614px;
    height: 400px;
    padding-top: 52px;
}

.catalog-slider {
    overflow-x:hidden;
    display: flex;
    flex-direction: column;
}

.catalog-slider__btn button {
    position: relative;
    margin-left: 123px;
    width: 144px;
    height: 52px;
    border: 1px solid rgb(200, 22, 245);
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    border-radius: 4px;
}

.catalog-slider__btn button:hover {
    border: 1px solid rgb(237, 164, 255);
    background-color: #7311a8;
}

.catalog-slider__btn button::before {
    position: absolute;
    content: url(/img/Arrow\ 8.svg);
    justify-content: center;
    align-items: center;
    margin-left: 18%;
    top: 160%;
}

.catalog-img {
    display: flex;
    flex-direction: row;
    padding: 158px 0px 0px 99.5px;
}

.catalog-slider__photo {
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catalog-slider__photo:first-child {
    margin-left: 0px;
}

.catalog-slider__photo:last-child {
    margin-right: 0px;
}

.catalog-slider__photo--img {
    width: 240px;
    height: 160px;
}

.catalog-slider__photo--text {
    position: relative;
    padding-top: 33px;
    font-size: 16px;
    line-height: 22px;
    color: #D7D7D7;
}

.catalog-slider__photo--text::before {
    position: absolute;
    content: url(/img/Show.svg);
    left: -35%;
}

.tools {
    padding-top: 148px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.tools-text {
    font-family: 'Ruda';
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    margin: 0 auto;
    padding-bottom: 104px;
}

.tools-info {
    cursor: pointer;
    display: flex;
    border-radius: 8px;
    background: #211538;
}

.tools-info__block {
    border-radius: 8px;
    transition: all 0.4s;
    width: 1240px;
    display: flex;
    background: #211538;
}

.tools-info__block:hover {
    background-color: #5e3076;
    transform: translateY(-25px);
}

.tools-info__block:active {
    background-color: #4b2261;
    transform: translateY(-23px);
}

.tools-container {
    padding: 48px 98px 48px 18%;
}

.tools-container:first-child {
    padding-right: 139px;
}

.tools-info__block--img img{
    position: relative;
    left: 27%;
    width: 88px;
    height: 88px;
}

.tools-info__block--title p {
    text-align: center;
    padding-top: 24px;
    font-weight: 600;
    font-size: 20px;
    line-height: 33px;
    color: #FFFFFF;
    width: 216px;
}

.tools-info__block--text p {
    padding-top: 16px;
    font-weight: 400;
    font-size: 13.5px;
    line-height: 150%;
    text-align: center;
    color: #D7D7D7;
}

.tools-info__block--text p {
    width: 255px;
}

.gallery {
    position: relative;
    max-width: 1240px;
    padding-top: 148px;
}

.gallery-title p {
    font-family: 'Ruda';
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
}

.gallery-main {
    padding-top: 56px;
}

.gallery-main__container {
    width: 1240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gallery-block {
    height: 449px;
    width: 388px;
    border: 1px solid rgba(238, 130, 238, 0.582);
    border-radius: 4px;
}

.gallery-block__container {
    padding: 24px 24px 24px 22px;
    display: flex;
    flex-direction: row;
}

.gallery-block__img img {
    width: 232px;
    height: 300px;
}

.gallery-block__photos {
    height: 300px;
    justify-content: space-between;
    padding-left: 18px;
    display: flex;
    flex-direction: column;
}

.border {
    border: 1px solid white;
    border-radius: 4px;
}

.gallery-block__info {
    padding: 0px 24px 40px 24px;
}

.gallery-block__info--title {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
}

.gallery-block__info--text {
    padding-top: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #D7D7D7;
    transition: all .4s;
}

.gallery-block__info--text:hover {
    text-decoration: underline;
    color: #b8b8b8;
    cursor: pointer;
}

.gallery-btn {
    padding-top: 48px;
}

.gallery-btn button {
    margin: 0 auto;
    width: 119px;
    height: 54px;
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    background: linear-gradient(101.9deg, rgba(201, 34, 227, 0.4) 7.67%, rgba(153, 30, 234, 0.4) 52.66%, rgba(73, 23, 246, 0.4) 93.7%);
    border-radius: 4px;
}

.artists {
    padding-top: 148px;
}

.artists-title {
    font-family: 'Ruda';
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
}

.artists-slider {
    align-items: center;
    padding-top: 56px;
    width: 240px;
    display: flex;
    justify-content: space-between;
}

.artists-slider__btn span {
    transition: all .4s;
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
}

.artists-slider__btn span::before {
    position: absolute;
    top: 28%;
    left: 28%;
    content: url(/img/Arrow\ -\ Right\ 2.svg);
}

.artists-slider__main {
    padding-left: 49px;
    padding-right: 49px;
    display: flex;
    flex-direction: column;
}

.artists-slider__block {
    padding-bottom: 36px;
    width: 1022px;
    display: flex;
    justify-content: space-between;
}

.artists-slider__block:last-child {
    padding-bottom: 0px;
}

.artists-slider__photo {
    width: 317px;
    height: 128px;
    background: rgba(217, 217, 217, 0.08);
    backdrop-filter: blur(2px);
    border-radius: 4px;
}

.photo-container {
    width: 242px;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    padding: 24px 51px 24px 24px;
}

.artists-slider__img {
    width: 80px;
    height: 80px;
}

.text {
    width: 104px;
    padding-left: 20px;
}

.artists-slider__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}

.artists-slider__text {
    padding-top: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #D7D7D7;
}

.artists-slider__btn--second span{
    transition: all .4s;
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
}

.artists-slider__btn--second span::before {
    position: absolute;
    top: 28%;
    left: 34%;
    content: url(/img/6.svg);
}

.artists-slider__btn--second span:hover {
    transform: scale(0.95);
    background: rgba(197, 197, 197, 0.1);
}

.artists-slider__btn span:hover {
    transform: scale(0.95);
    background: rgba(197, 197, 197, 0.1);
}

.blog {
    padding-top: 148px;
    position: relative;
}

.blog-title {
    text-align: center;
    font-family: 'Ruda';
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
}

.blog-main {
    position: relative;
    padding-top: 56px;
}

.blog-main__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog-block {
    width: 388px;
    height: 540px;
    border-radius: 4px;
    border: 1px solid rgba(216, 66, 216, 0.725);
}

.blog-block__wrapper {
    padding: 24px 24px 37px 24px;
}

.blog-block__img img {
    width: 340px;
    height: 260px;
}

.blog-block__admin {
    padding-top: 17px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.blog-block__admin--text {
    left: 38px;
    position: relative;
    background: linear-gradient(95.85deg, #BA21E7 5.52%, #BB21E6 95.11%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.blog-block__admin--text::before {
    position: absolute;
    content: '';
    background: url(/img/Profile.svg) no-repeat center;
    align-items: center;
    width: 24px;
    height: 24px;
    top: -3px;
    left: -38px;
    border-radius: 50%;
    border: 2px solid #681BF2
}

.blog-block__admin--data { 
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #D7D7D7;
    margin-right: 1.5px;
}

.blog-block__info {
    padding-top: 24px;
    position: relative;
}

.blog-block__info--title {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}

.blog-block__info--text {
    padding-top: 16px;
    width: 335px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #D7D7D7;
}

.blog-block__media {
    align-items: center;
    padding-top: 26px;
    display: flex;
    flex-direction: row;
}

.blog-block__media--btn button {
    width: 119px;
    height: 39px;
    text-align: center;
    color: white;
    font-family: 'Ruda';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    background: linear-gradient(101.9deg, rgba(201, 34, 227, 0.4) 7.67%, rgba(153, 30, 234, 0.4) 52.66%, rgba(73, 23, 246, 0.4) 93.7%);
    border-radius: 4px;
}

.blog-block__media--chat {
    cursor: pointer;
    padding-left: 117px;
    position: relative;
}

.blog-block__media--chat img {
    width: 20px;
    height: 20px;
}

.blog-block__media--chat::before {
    position: absolute;
    content: '';
    top: -27%;
    left: 110px;
    width: 30px;
    height: 30px;
    border: 2px solid #9725D6;
    border-radius: 50%;
}

.blog-block__media--share {
    cursor: pointer;
    padding-left: 50px;
    position: relative;
}

.blog-block__media--share img {
    width: 20px;
    height: 20px;
}

.blog-block__media--share::before {
    position: absolute;
    content: '';
    top: -27%;
    left: 45px;
    width: 30px;
    height: 30px;
    border: 2px solid #9725D6;
    border-radius: 50%;
}