@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Open+Sans:wght@500&family=Ruda&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: url(/img/1.png) no-repeat;
    background-size: cover;
    object-fit: cover;
}

body {
    color: #ffffff;
    font-family: 'Open Sans';
    position: relative;
    width: 1240px;
    margin: 0 auto;
}
a {
    display: block;
    color: inherit;
    text-decoration: none;
    transition: .4s;
}
ul li,
ol li {
    list-style: none;
}
img {
    width: 100%;
}
button {
    display: block;
    border: none;
    cursor: pointer;
    transition: all .4s;
}

input {
    background: transparent;
    border: none;
}

button:hover {
    transform: scale(0.95);
    transition: 0.4s;
}

button:active {
    transform: scale(0.86);
}

span {
    display: block;
}
