#footer-wrapper {
    padding-top: 148px;
    display: flex;
    padding-bottom: 78px;
}

.footer-main {
    position: relative;
}

.footer-main__title {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
}

.footer-main__text {
    padding-top: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #D7D7D7;
}

.footer-media {
    cursor: pointer;
    width: 148px;
    justify-content: space-between;
    padding-top: 32px;
    display: flex;
    flex-direction: row;
}

.footer-media img {
    width: 36px;
    height: 36px;
}

.footer-info {
    padding-left: 117px;
}

.footer-main__text a {
    margin-bottom: 16px;
}

.footer-main__text a:hover {
    text-decoration: underline;
    color: #b6b6b6;
}

.footer-main__text a:last-child {
    margin-bottom: 0px;
}

.footer-company {
    padding-left: 118px;
}

.footer-main__text h4 {
    width: 350px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #D7D7D7;
}

.footer-input {
    padding-top: 24px;
    position: relative;
}

.footer-input input {
    border: 0.6px solid #D7D7D7;
    border-radius: 4px;
    position: relative;
    width: 295px;
    height: 48px;
}

.footer-input::before {
    cursor: pointer;
    position: absolute;
    content: url(/img/Send.svg);
    left: 260px;
    top: 38px;
}

.footer-input input::placeholder {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #D7D7D7;
}

.input-text {
    color: #D7D7D7;
    padding-left: 16px;
}