#header-wrapper {
    position: relative;
}

.header-container {
    padding-top: 42px;
    align-items: center;
    display: flex;
    justify-content: space-between;

}

.header-logo {
    display: flex;
    width: 93px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.header-logo__img img {
    width: 32px;
    height: 32px;
}

.header-logo__text {
    font-family: 'Ruda';
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.header-navigation {
    position: relative;
    width: 473px;
    margin-left: 180px;
}

.header-navigation__link {
    display: flex;
    justify-content: space-between;
}

.header-navigation__link a {
    font-size: 16px;
    line-height: 22px;
}

.header-navigation__link a:hover {
    color: rgb(215, 215, 215);
    transform: scale(0.95);
}

.header-navigation__link a:active {
    color: rgb(158, 158, 158);
}

.header-form {
    display: flex;
    align-items: center;
    width: 170px;
}

.header-form__login {
    padding-right: 24px;
}

.header-form__login:hover {
    color: rgb(197, 197, 197);
}

.header-form__login:active {
    color: rgb(158, 158, 158);
}

.header-form__sing-up button {
    width: 105px;
    height: 40px;
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    background: linear-gradient(101.9deg, rgba(201, 34, 227, 0.4) 7.67%, rgba(153, 30, 234, 0.4) 52.66%, rgba(73, 23, 246, 0.4) 93.7%);
    border-radius: 4px;
}
